name: Check for Updates

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Configure sparse checkout
        working-directory: claude-code
        run: |
          find .
          echo "============TEST===========";
          git sparse-checkout init --cone
          git sparse-checkout set .devcontainer
          echo "============TEST===========";
          find .
